
.table {
  border-collapse: collapse;
  width: 80%;
  margin: 20px auto;
  font-family: Arial, sans-serif;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
}
thead tr .th {
  background-color: #343a40;
  color: #ffffff;
  padding: 12px 15px;
  border: 1px solid #dee2e6;
  text-align: left;
}

.td {
  padding: 12px 15px;
  border: 1px solid #dee2e6;
  background-color: #f8f9fa;
}

tr:hover .td {
  background-color: #e2e6ea;
  transition: background-color 0.3s ease;
}

tr:nth-child(even) .td {
  background-color: #f1f3f5;
}
.editButton{
   border: none;
   padding: 3.5px;
   color:white;
   background-color: rgb(53, 53, 186);
   border-radius: 3px;
}

